[Unit]
Description=pgvector container
After=network-online.target

[Container]
ContainerName=pgvector
Image=docker.io/pgvector/pgvector:pg17
Volume=pgvector:/var/lib/postgresql/data
Environment=POSTGRES_USER=postgres
Environment=POSTGRES_DB=postgres
Network=db-network
PublishPort=5432:5432

[Install]
WantedBy=multi-user.target default.target
