[Unit]
Description=Object detection inferencing
After=network-online.target

[Container]
Image=quay.io/jwennerberg/objectdetection:latest
PublishPort=8501:8501
Environment=ENABLE_PROCESS_METRICS=true
AutoUpdate=registry

[Install]
WantedBy=multi-user.target default.target
